.hero{
    background-size: cover;
    max-height: 380px;
    width: auto;
    display: flex;
    align-items: end;
    background-repeat: no-repeat;
    color: white;
  
}
.hero .anuncio{
    margin: 2rem;
    width: 100%;
}
