.card{
    width: 100%;
    height: 350px;
    background-color: transparent;
    box-shadow: 0px 2px 3px 0px #40260754;
    border: solid 1px #402607;

    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 10px;
        p{
            margin-bottom: 5px;
        }
        a{
            color:#BD9735;
            width: 100%;
        }
        color: #402607;
    }
    img{
        padding: 5px;
        width: 100%;
        height:170px;
    }
}
.card:hover{
    transform: scale(1.01);
    a{
        cursor: pointer;
        color: #e4b236;
        font-weight: 800;

    }
}